/* section 1 */

.section_1{
    background-color: $background_Apink;
    .container{
        padding: 75px 0;
        border-bottom: 1px solid $brown_main;
        text-align: center;
        h2{
            font-size: 30px;
            line-height: 40px;
            color: $brown_main;
            text-align: center;
            width: 54%;
            margin: auto;
        }
        div{
            @include display_flex;
            flex-wrap: wrap;
            padding: 30px 0;
            div {
                width: calc(100% / 3);
                height: 250px;
                @include display_flex;
                flex-direction: column;
                align-items: center;
                img {
                    height: 70%;
                    padding-bottom: 20px;
                }
                p{
                    color: $brown_main;
                    font-weight: 300;
                    width: 85%;
                }
            }
        }
        img{
            height: 350px;
        }
    }
}

/* //section 1 */


/* section 2 */

.section_2 {
    background-color: $background_Apink;
    .container {
        padding: 75px 0;
        text-align: center;
        h2 {
            font-size: 30px;
            line-height: 40px;
            color: $brown_main;
            text-align: center;
            width: 54%;
            margin: auto;
        }
        div {
            @include display_flex;
            flex-wrap: wrap;
            padding: 30px 0;
            div {
                width: calc(100% / 3);
                height: 250px;
                @include display_flex;
                flex-direction: column;
                align-items: center;
                img {
                    height: 70%;
                    padding-bottom: 20px;
                }
                p {
                    color: $brown_main;
                    font-weight: 300;
                    width: 85%;
                }
            }
        }
        img {
            height: 350px;
        }
        h2:last-of-type {
            margin-top: 150px;
        }
    }
}

/* //section 2 */

/* section 3 e 5 */
.section_3,
.section_5{
    @include display_flex;
    flex-wrap: wrap;
    padding: 50px 25px;
    .left {
        width: 50%;
        img{
            width: 100%;
        }
    }
    .right {
        width: 23%;
        h2{
            font-size: 30px;
            line-height: 40px;
            color: $brown_main;
        }
        p{
            font-size: 25px;
            line-height: 40px;
            color: $brown_main;
            padding-top: 50px;
        }
        div{
            padding-top: 30px;
            a{
                font-size: 20px;
                color: blue;
            }
            img{
                padding-top: 30px;
                width: 100%;
            }
        }
    }
}
/* //section 3 e 5 */

/* section 4 e 6 */
.section_4,
.section_6 {
    @include display_flex;
    flex-wrap: wrap;
    padding: 50px 25px;
    .left {
        width: 23%;
        margin-left: 27%;
        h2 {
            font-size: 30px;
            line-height: 40px;
            color: $brown_main;
        }
        p {
            font-size: 25px;
            line-height: 40px;
            color: $brown_main;
            padding-top: 50px;
        }
        div {
            padding-top: 30px;
            a {
                font-size: 20px;
                color: blue;
            }
            img {
                padding-top: 30px;
                width: 100%;
            }
        }
    }
    .right {
        width: 50%;
        img {
            width: 100%;
        }
    }
}

/* //section 4 e 6 */

/* section 7 */

.section_7{
    background-color: $background_Apink;
    padding: 75px 0;
    @include display_flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-size: 50px;
        width: 40%;
        padding-bottom: 75px;
    }
    .paragrafo{
        padding: 20px;
        width: 38%;
        background-color: white;
        border: 2px solid #2C4792;
        border-radius: 15px;
        p{
            font-size: 17px;
            color: $dark_brown;
            padding-bottom: 20px;
        }
        .founders{
            @include display_flex;
            img{
                margin-right: 20px;
                width: 50px;
                height: 50px;
            }
            div{
                @include display_flex;
                flex-direction: column;
                justify-content: center;
                span{
                    color: $dark_brown;
                }
                .founders_t{
                    color: #2C4792;
                }
            }
        }
    }
    .button {
        @include display_flex;
        align-items: center;
        margin-top: 50px;
        a {
            @include display_flex;
            align-items: center;
            background-color: $btn_blue;
            padding: 7px 12px;
            border-radius: 5px;
            color: white;

            img {
                width: 22px;
                padding-right: 5px;
            }
        }
        span {
            padding: 7px;
        }
    }
    p:last-of-type {
        padding: 20px 0;

        a {
            color: $dark_brown;
        }
    }
}

/* //section 7 */


/* mediascreen main */
@media screen and (min-width: 550px) and (max-width: 998px) {
    .section_1 {
        .container {
            div {
                div {
                    width: 100%;
                }
            }
        }
    }
    .section_2 {
        .container {
            div {
                div {
                    width: 100%;
                }
            }
        }
    }
    .section_3,
    .section_5 {
        .left{
            width: 100%;
        }
        .right{
            width: 100%;
            text-align: center;
            div{
                img{
                    width: 75%;
                }
            }
        }
    }
    .section_4, 
    .section_6 {
        .left {
            width: 100%;
            text-align: center;
            margin-left: 0;
            div {
                img {
                    width: 75%;
                }
            }
        }
        .right {
            width: 100%;
        }
    }
    .section_7{
        h2{
            width: 60%;
        }
        .paragrafo{
            width: 80%;
        }
    }

}

@media screen and (max-width: 549px) {
    .section_1 {
        .container {
            div {
                div {
                    width: 100%;
                }
            }
        }
    }
    .section_2 {
        .container {
            div {
                div {
                    width: 100%;
                }
            }
        }
    }
    .section_3,
    .section_5 {
        .left {
            width: 100%;
        }
        .right {
            width: 100%;
            text-align: center;
            div {
                img {
                    width: 100%;
                }
            }
        }
    }
    .section_4,
    .section_6 {
        .left {
            width: 100%;
            text-align: center;
            margin-left: 0;
            div {
                img {
                    width: 100%;
                }
            }
        }
        .right {
            width: 100%;
        }
    }
    .section_7 {
        h2 {
            width: 60%;
            text-align: center;
        }

        .paragrafo {
            width: 80%;
        }
    }
}